.App {
  text-align: center;
}

.postgrid {
  display: flex; /* Use CSS Grid for layout */
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px; /* Gap between the grid items */
  padding: 20px; /* Padding around the grid */
  margin: 0 auto; /* Center the grid horizontally */
  max-width: 96%; /* Optional: Limit the width of the grid */
}

/* Individual post styling */
.post-item {
  width: 500px;
  height: 750px;
  background-color: #fff; /* Background color for each post */
  border: 1px solid #ddd; /* Border around each post */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Padding inside each post */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.post-item:hover {
  transform: scale(1.1); /* Slight enlargement */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Optional shadow for emphasis */
}

.post-title {
  color:rgba(0, 0, 0, 1)
}

.post-extras {
  color:rgba(36, 36, 36, 0.6);
  text-align: left;
  margin: 0px;
}

.media-container {
  height: 600px;
}

.media-container img {
  max-height: 600px;
}

.video {
  max-height: 100%
}

